{% include "head.html" %}
<title>Pelajarnu - Register</title>
<body>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container">
          <br>
          <br>
          <br>
        <div class="container-fluid">
          <h1 class="h3 mb-2 text-gray-800">Pendaftaran User</h1>
          <p class="mb-4">Silahkan masukan  data dengan benar</p>
          <!-- <p class="mb-4">Silahkan klik Tombol disamping untuk mendapatkan infografiknya <a href=""></a></p> -->
          <div class="row">
            <div class="col-xl-12 col-lg-7">
              <!--Flashing -->
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                  {{message}}
                  <span> , </span><a href="{{url_for('radmin.login')}}">Kembali ke Login</a>
                </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
                  <div class="card shadow mb-4">



                    <!-- Card Header - Accordion -->
                    <!-- <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                      <h6 class="m-0 font-weight-bold text-primary">Grabing Tweet</h6>
                    </a> -->
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                      <div class="card-body">
                        <form class="user" action="", method="POST">
                          {{form.hidden_tag()}}
                          <div class="form-group">
                            <!-- {{form.password.label(class="form-control-label")}} -->
                            {% if form.username.errors %}
                                {{form.username(class="form-control form-control-user is-invalid")}}
                                <div class="invalid-feedback">
                                  {% for error in form.username.errors %}
                                  <span>{{error}}</span>
                                  {% endfor %}
                                </div>
                            {% else %}
                                {{form.username(class="form-control form-control-user ", placeholder="Enter username ")}}
                            {% endif %}
                          </div>
                          <div class="form-group">
                            <!-- {{form.password.label(class="form-control-label")}} -->
                            {% if form.email.errors %}
                                {{form.email(class="form-control form-control-user is-invalid")}}
                                <div class="invalid-feedback">
                                  {% for error in form.email.errors %}
                                  <span>{{error}}</span>
                                  {% endfor %}
                                </div>
                            {% else %}
                                {{form.email(class="form-control form-control-user ", placeholder="Enter email")}}
                            {% endif %}
                          </div>
                          <div class="form-group">
                              <!-- {{form.password.label(class="form-control-label")}} -->
                              {% if form.password.errors %}
                                  {{form.password(class="form-control form-control-user is-invalid")}}
                                  <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                  </div>
                              {% else %}
                                  {{form.password(class="form-control form-control-user ", placeholder="Enter password")}}
                              {% endif %}
                          </div>
                          <div class="form-group">
                              <!-- {{form.password.label(class="form-control-label")}} -->
                              {% if form.konf_pass.errors %}
                                  {{form.konf_pass(class="form-control form-control-user is-invalid")}}
                                  <div class="invalid-feedback">
                                    {% for error in form.konf_pass.errors %}
                                    <span>{{error}}</span>
                                    {% endfor %}
                                  </div>
                              {% else %}
                                  {{form.konf_pass(class="form-control form-control-user ", placeholder="Ulangi password")}}
                              {% endif %}
                          </div>
                          <div class="form-group">
                              <!-- {{form.username.label(class="form-control-label")}} -->
                              {{form.submit(class="btn btn-success btn-user btn-block")}}
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Mas Hadie 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



{% include "footer.html" %}
